.app {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 0px;
}

.header {
  background-color: #4caf50;
  color: white;
  padding: 1px;
  margin-bottom: 5px;
}

/* Flexboxの共通スタイル */
.flex-container {
  display: flex;
  flex-grow: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-end-container {
  display: flex;
  justify-content: flex-end;
}

/* 入力フィールドの共通スタイル */
.input-field {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0px 3px 6px 3px;
}

.toggleButton {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.input-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  margin: 3px;
}

.task-input button:hover {
  background-color: #45a049;
}

.task-text {
  text-align: left;
  flex-grow: 1; /* 利用可能なスペースをすべて使用 */
  word-break: break-all; /* 単語の途中でも折り返す */
  word-wrap: break-word; /* 長い単語でも折り返す */
  overflow-wrap: break-word; /* 長い単語を折り返す（互換性のため） */
}

/* タスクテキストとチェックボックスのコンテナ */
.task-content {
  flex-grow: 1;
  display: flex;
  padding: 10px;
  align-items: center; /* 中央揃え */
  border-radius: 4px;
  box-sizing: content-box;
}

/* 削除ボタンのスタイル */
.deleteButton {
  flex-shrink: 0; /* ボタンの縮小を防止 */
  background-color: #f44336; /* 赤色 */
  color: white;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px; /* パディングを調整 */
}

.deleteButton:hover {
  background-color: #d32f2f; /* 濃い赤色 */
}

/* オプショナル：小さいスクリーンでの見た目を調整 */
@media (max-width: 600px) {
  .task-input input[type="text"],
  .task-input button {
    width: 100%; /* 入力フィールドとボタンの幅を100%に設定 */
    margin: 5px 0; /* 上下のマージンを設定 */
  }
  .task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-list li button {
    margin: 0;
    padding: 5px 8px;
  }
}

/* カスタムチェックボックスのベーススタイル */
.custom-checkbox {
  display: inline-block;
  flex-shrink: 0; /* チェックボックスの縮小を防止 */
  height: 20px;
  width: 20px;
  background-color: #fff; /* 背景色を白に設定 */

  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

/* チェックボックスがチェックされたときのスタイル */
.custom-checkbox input[type="checkbox"]:checked + .checkbox-mark {
  display: block;
}

/* チェックマークを表示するための要素（非表示で開始） */
.checkbox-mark {
  display: none;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 3px;
  height: 9px;
  border: solid #4caf50; /* チェックマークの色 */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* チェックボックスの隠蔽 */
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.logButton {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px; /* パディングを調整 */
  margin: 0px 0px 5px 5px;
  height: 100%;
}

.add {
  background-color: #4caf50;
  margin: 0px 0px 2.5px 5px;
}

.delete {
  background-color: #f44336; /* 赤色 */
  margin: 2.5px 0px 0px 5px;
}

.matched-radius {
  --matched-radius-padding: 8px;
  --matched-radius-inner-size: 12px;

  padding: var(--matched-radius-padding);
  border-radius: calc(
    var(--matched-radius-inner-size) + var(--matched-radius-padding)
  );
}

.matched-radius__inner {
  border-radius: var(--matched-radius-inner-size);
}
